#aviso{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 99999999;
  background-color: #000;
  color: #c9c5c5;
}

#aviso img{
  width: 45%;
}

#pregunta{
  margin-top: 5%;
}

#botones{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#si{
  margin-right: 5%;
}

.boton{
  border: 5px solid #c9c5c5;
  cursor: pointer;
}

.boton h3{
  padding: 15px 50px;
}

.boton a{
  color: #c9c5c5;
}

header{
  position: fixed;
  width: 100%;
}

#hero{
  width: 100%;
  height: 100vh;
  padding: 150px 0;
  color: #fff;
  background-image: url('../img/fondo-small.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#hero-message{
  width: 70%;
  margin: 0 auto;
  padding: 10% 0;
  background-color: rgba(0,0,0,0.6);
}

#hero-message h1{
  text-align: center;
  margin-bottom: 5%;
}

#hero-message p{
  text-align: center;
  font-size: 2rem;
}

#filosofia{
  padding: 10%;
  padding-bottom: 3%;
}

#filosofia h2{
  text-align: center;
}

#filosofia p{
  text-align: center;
  line-height: 2em;
  padding: 5% 10% 10% 15%;
}

#botellas{
  display: flex;
  justify-content: center;
  margin-bottom: 25%;
}

#botellas div:first-child{
  display: none;
}

.imagenBotella{
  width: 50%;
}

#mensaje{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50vh;
  min-height: 500px;
  max-height: 800px;
  margin-bottom: 25%;
  background-image: url('../img/middle-small.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#mensaje h2, #mensaje h3{
  color: #dcdcdc;
  text-align: center;
}

#video{
  width: 100%;
  margin-bottom: 25%;
}

#video p{
  padding: 0 5% 5% 5%;
  text-align: center;
}

#player{
  width: 100%;
  height: 600px;
}

#contacto{
  margin: 15% 0;
}

#contacto h2, #video h2{
  text-align: center;
  margin-bottom: 5%;
}

@media screen and (min-width: 720px){
  #aviso img{
    width: 30%;
  }

  #hero{
    background-image: url('../img/fondo.jpg');
  }

  #hero-message{
    width: 30%;
    padding: 7% 2%;
    margin-right: 15%;
  }

  #botellas{
    margin-bottom: 15%;
  }

  #mensaje{
    margin-bottom: 15%;
    background-image: url('../img/middle.jpg');
  }

  #video{
    margin-bottom: 15%;
  }
}

@media screen and (min-width: 980px){
  #aviso img{
    width: 20%;
  }

  #filosofia h2{
    padding: 0 30% 0 35%;
  }

  #filosofia p{
    padding: 5% 30% 10% 35%;
  }

  #botellas div:first-child{
    display: block;
  }

  .imagenBotella{
    width: 35%;
  }

  #botellas{
    padding: 0 15%;
    margin-bottom: 13%;
    justify-content: space-between;
  }

  #mensaje{
    margin-bottom: 13%;
  }

  #video{
    margin-bottom: 13%;
  }
}
